.publish
{

    font-size: 17px;
}
.bookname
{
    text-align: inline; 
    font-size: 30px;
}

.popup {

    width: 500px;
    height: 500px;

  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 65%;
    margin: auto;
    border-radius: 20px;
    background: white;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }